<mat-card>
  <mat-card-header>
    <mat-card-title class="heading">
      Registration
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Designation</mat-label>
        <mat-select [(ngModel)]="nameDesigSelect" value="Mr">
          <mat-option value="Mr">Mr</mat-option>
          <mat-option value="Mrs">Mrs</mat-option>
          <mat-option value="Miss">Miss</mat-option>
          <mat-option value="MS">MS</mat-option>
          <mat-option value="Master">Master</mat-option>
          <mat-option value="Baby">Baby</mat-option>
          <mat-option value="Baba">Baba</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Patient Name</mat-label>
        <input matInput autocomplete="false" [(ngModel)]="patientName">
        <mat-icon matPrefix>account_circle</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Designation</mat-label>
        <mat-select [(ngModel)]="relativeDesigSelect">
          <mat-option value="S/O">S/O</mat-option>
          <mat-option value="D/O">D/O</mat-option>
          <mat-option value="W/O">W/O</mat-option>
          <mat-option value="M/O">M/O</mat-option>
          <mat-option value="C/O">C/O</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Relative Name</mat-label>
        <input matInput [(ngModel)]="relativeName">
        <mat-icon matPrefix>supervised_user_circle</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <mat-icon matPrefix>date_range</mat-icon>
        <input matInput type="number" [(ngModel)]="age">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="gender" placeholder="Gender" value="M">
          <mat-option value="M">Male</mat-option>
          <mat-option value="F">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <mat-icon matPrefix>phone</mat-icon>
        <input type="number" matInput [(ngModel)]="phone">
      </mat-form-field>
    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
    <br>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Consultation Charges</mat-label>
        <input [(ngModel)]="consultationPrice" matInput min="0" type="number" value="250" #consultation="matInput">
        <mat-icon matPrefix>attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Discount</mat-label>
        <input [(ngModel)]="discountPercant" matInput value="0" type="number" max="100" #discount="matInput">
        <mat-icon style="font-family: 'Google Sans Regular'" matSuffix>%</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Final Amount</mat-label>
        <input matInput type="number" [value]="consultationPrice * (1 - discountPercant / 100)" #finalAmount="matInput">
        <mat-icon matPrefix>money</mat-icon>
      </mat-form-field>

    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
    <br>
    <div style="justify-content: flex-end">
      <button mat-button color="primary" (click)="register()">Register</button>
    </div>
  </mat-card-content>
</mat-card>
