:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

mat-card {
    margin-top: 75px;
    width: 61.8%;
    table {
        width: 100%;
    }
}