<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="patientsData | async">
      <!-- Position Column -->
      <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let patient">{{patient.nameDesig}}. {{patient.patientName}} <mat-icon svgIcon="{{patient.gender == 'M' ? 'gender-male' : 'gender-female'}}"></mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="relativeName">
        <th mat-header-cell *matHeaderCellDef> Admission </th>
        <td mat-cell *matCellDef="let patient"> {{patient.relativeDesig}}. {{patient.relativeName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let patient"> {{patient.phone}} </td>
      </ng-container>

      <!-- Symbol Column
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
